<!DOCTYPE part>
<part xmlns="http://docbook.org/ns/docbook" version="5.0" xml:id="app" xml:lang="ru"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <info>
        <title>Создание приложений с использованием Firebird</title>
    </info>

    <xi:include href="app-db.xml" xpointer="element(/1)"/>
    <xi:include href="app-delphi.xml" xpointer="element(/1)"/>
    <xi:include href="app-dotnet-winform.xml" xpointer="element(/1)"/>
    <xi:include href="app-dotnet-aspnet.xml" xpointer="element(/1)"/>
    <xi:include href="app-php.xml" xpointer="element(/1)"/>
    <xi:include href="app-java-spring.xml" xpointer="element(/1)"/>

</part>
